/*--------------cover page--------------*/
.container{
  margin-left: 5em;
}

.shadow{
  text-shadow: 0px 0px 4px #2B2B2B;
}

.spacedout{
  letter-spacing: 0.3em;
  font-weight: bold;
}

.headings{
  position: relative;
  text-align: left;
  top: 3em;
  color: white;
}
h6{
  font-size: 1.8rem;
}

.button{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: rgb(50, 50, 50);
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

#hiddenRow{/*created a hidden div that lays ontop of the hero div. # insead of . because hiddenContainer is an id*/
  position: absolute;
  top: 0;
  left: 0;
  display: none;/* hides the div make invisible*/
}

.fadein{ /*fade in annimation when button is clicked*/
  animation-name: fadeIn;
  animation-duration: 1.3s;
  opacity:1;
}

.fadeout{ /*fade in annimation when button is clicked*/
  animation-name: fadeOut;
  animation-duration: 1.3s;
  opacity: 0;
}

.hero{
  height: 30em;
  background-size: cover;
  background-image: url("../images/barcelona4.png");
  background-position: bottom;


}

/*------- blog heading on cover page------*/
.blog{
/*  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
*/

  height: 30em;
  background-size: cover;
  background-image: url("../images/barcelona5.png");
  background-position: bottom;
}


/*------projects heading on cover page---------*/
.projects{

  height: 30em;
  background-size: cover;
  background-image: url("../images/barcelona2.png");
  background-position: bottom;
}

/*----------------affects-------------------------------*/
@keyframes fadeIn {/*keyframe needed for animmation*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
